language: r
cache: packages
sudo: false
dist: xenial

before_install:
 - Rscript -e 'install.packages("pkgdown")'

r_github_packages:
  - jimhester/covr

jobs:
  include:
  - r: release
    after_success:
    - Rscript -e 'covr::codecov()'
    deploy:
      provider: script
      script: Rscript -e 'pkgdown::deploy_site_github(verbose = TRUE)'
      skip_cleanup: true

env:
  global:
  - _R_CHECK_FORCE_SUGGESTS_=false

# This is used just to speed up the travis build:
addons:
  apt:
    packages:
    - r-bioc-impute
    - r-bioc-massspecwavelet
    - r-bioc-mixomics
    - r-cran-apcluster
    - r-cran-biocmanager
    - r-cran-boruta
    - r-cran-caret
    - r-cran-dendextend
    - r-cran-dotcall64
    - r-cran-dplyr
    - r-cran-dt
    - r-cran-elasticnet
    - r-cran-fields
    - r-cran-fnn
    - r-cran-ggplot2
    - r-cran-lars
    - r-cran-lubridate
    - r-cran-plotly
    - r-cran-proc
    - r-cran-qap
    - r-cran-rcpp
    - r-cran-seriation
    - r-cran-shinyjs
    - r-cran-stringr
    - r-cran-tsp
    - r-cran-rmarkdown
    - r-cran-sparsem
    - r-cran-rgl
    - r-cran-nloptr
    - libgsl-dev
    - r-cran-scales
    - r-cran-rmarkdown
    - r-cran-speaq
    - r-cran-future
    - r-cran-baseline
    - r-cran-testthat
    - r-cran-knitr
    - r-cran-farver
    - r-cran-tinytex
    - r-cran-xfun
    - r-cran-mqtl
    - r-cran-dosnow
    - r-cran-rfast
    - r-cran-rvest
    - r-cran-missforest
    - r-cran-pkgload
    - r-cran-quadprog
    - r-cran-hms
    - r-cran-rcppeigen
    - r-cran-qtl
    - r-cran-outliers
    - r-cran-snow
    - r-cran-rcppziggurat
    - r-cran-rcppgsl
    - r-cran-selectr
    - r-cran-randomforest
    - r-cran-itertools
    - r-cran-pkgbuild
